* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
}

.gallery-item {
  flex-basis: 360px;
  height: 200px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.gallery-link {
  display: block;
  margin: 0 auto;
}

body.show-modal .backdrop{
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 1440px;
    height: 696px;
    background-color: rgba(46, 47, 66, 0.8);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.modal {
    padding: 28px;
    width: 1112px;
    height: 640px;
    cursor: pointer;
}